/* global styles */

* {
	box-sizing: border-box;
	
}

body {
	font-family: 'Cutive Mono', monospace; 'Helvetica Neue', 'Arial', Helvetica, sans-serif;
	color: #303030;
}

p {
	line-height: 
}

h1 {
	font-family: 'Bungee Inline', cursive;
	font-size: 100px;
	color: red;
	padding-top: 150px;
	opacity: .65;
	letter-spacing: 5px;
}


.bckg-gry {
	background-color: gray;
}



.txtcenter {
	text-align: center;
}

.fl-l {
	float: left;
}

.fl-r {
	float: right;
}

.header {
	background-image: url("../images/city-skyline.svg");
	background-color: #FFFFFF;
	height: 300px;
	background-size: 100% 100%;
	opacity: 75%;
}

.hangman-image-container {
	width: 300px;
	height: auto;
	margin-left: 200px;
	margin-top: 20px;
	position: absolute;
}

.underscores {
	font-size: 32px;
	margin-top: 340px;
	text-align: center;
	letter-spacing: 3px;
	}


.panel-l {
	width: 30%;
	border: 1px solid gray;
	border-right: none;
	height: 400px;
}

.panel-r {
	width: 70%;
	border: 1px solid gray;
	height: 400px;
}



.container {
	margin: 0 auto;
	width: 1000px;
	min-height: 15px;
}


.game-element {
	margin: 30px 20px;
	padding: 0px 10px;
	line-height: 20px;
	font-size: 18px; 
}

.scoreboard-element {
	height: 55px;
	line-height: 55px;
	font-weight: 700px;
	font-size: 20px;
}

.scoreboard {
	width: 30%;
	height: 55px;
	color: white;
	padding: 0px 35px;
}

.command {
	width: 70%;
	height: 55px;
	color: white;
	line-height: 55px;
	font-size: 22px;
}

